@import url('/src/App.css');

.sidebarContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 10px;
    margin: 10px;
    margin-top: 20px;
    overflow: hidden;
    width: 300px;
    height: 611px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0.3px solid var(--gray-400, #9CA3AF);
    background: #FFF;
    transform: scale(1.05);
}

.formItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formItem label {
    display: block;
    font-weight: bold;
}
.textInput {
   padding: 5px;
   font-size: 14px;
}
